.logout{
    position:fixed;
    right:20px;
    bottom:3rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border:none;
}
.Video-Container{
    height:100vh;
    Width:100vw;
    background-color: black;
    scroll-snap-type:y mandatory;
    overflow-y: scroll;
}
.abc{
    position:fixed;
    right:20px;
    bottom: 10rem;
    width: 7rem;
    height: 3rem;
}
/* 2:14 */